<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ '/assets/css/academicons.css' | relative_url }}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon-180x180.png' | relative_url }}"/>
<link rel="icon" type="image/svg+xml" href="{{ '/images/favicon.svg' | relative_url }}"/>
<link rel="icon" type="image/png" href="{{ '/images/favicon-32x32.png' | relative_url }}" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ '/images/favicon-192x192.png' | relative_url }}" sizes="192x192"/>
<link rel="manifest" href="{{ '/images/manifest.json' | relative_url }}"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#111111"/>

<style>
  :root {
    --global-base-color: #111111;
    --global-footer-bg-color: #f5f5f5;
    --global-border-color: #e4e4e4;
  }

  html[data-theme="dark"] {
    --global-base-color: #d9d9d9;
    --global-bg-color: #1b1b1b;
    --global-footer-bg-color: #151515;
    --global-border-color: #363636;
  }

  body,
  button,
  input,
  select,
  textarea {
    font-family: "Merriweather Sans", "Helvetica Neue", Arial, sans-serif;
  }

  h1, h2, h3, h4, h5, h6,
  .masthead,
  .archive__item-title,
  .page__title {
    font-family: "Oswald", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
  }

  .masthead,
  .masthead a,
  .sidebar,
  .sidebar .author__name,
  .sidebar .author__bio,
  .sidebar .author__desktop,
  .sidebar .author__urls a,
  .sidebar .btn {
    font-family: "Oswald", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
  }

  html:not([data-theme="dark"]) h1,
  html:not([data-theme="dark"]) h2,
  html:not([data-theme="dark"]) h3,
  html:not([data-theme="dark"]) h4,
  html:not([data-theme="dark"]) h5,
  html:not([data-theme="dark"]) h6,
  html:not([data-theme="dark"]) .page__title,
  html:not([data-theme="dark"]) .archive__item-title a,
  html:not([data-theme="dark"]) .masthead__menu-item--lg > a {
    color: #111111;
  }

  html:not([data-theme="dark"]) h1 a:hover,
  html:not([data-theme="dark"]) h2 a:hover,
  html:not([data-theme="dark"]) h3 a:hover,
  html:not([data-theme="dark"]) h4 a:hover,
  html:not([data-theme="dark"]) h5 a:hover,
  html:not([data-theme="dark"]) h6 a:hover,
  html:not([data-theme="dark"]) .archive__item-title a:hover,
  html:not([data-theme="dark"]) .masthead__menu-item--lg > a:hover {
    color: #BA0C2F;
  }

  .masthead__uga-logo {
    width: 26px;
    height: 26px;
    object-fit: contain;
    vertical-align: text-bottom;
    margin-right: 0px;
  }

  .social-uga-logo {
    width: 54px;
    height: 54px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 0;
  }

  .sidebar-uga-logo {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 0;
  }

  html:not([data-theme="dark"]) .masthead__menu-item.selected a {
    border-bottom-color: #111111;
  }
</style>

<!-- end custom head snippets -->
