/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  background-color: var(--global-footer-bg-color);
  background-image: url("/images/uga-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff4d;

  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  /* keep footer in normal document flow so custom widgets do not overlap content */
  height: auto;

  margin-top: 3em;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  border-top: 1px solid var(--global-dark-border-color);

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
    padding: 0 1em 1em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: #ffffff4d;
    text-decoration: none;

    &:hover {
      color: #ffffff99;
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: #ffffff4d;
  }
}

.page__footer-copyright {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
}

.page__footer-follow {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 12px;
  font-weight: 400;

  strong {
    font-weight: 400;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: 400;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}

.page__footer-sitemap {
  margin-bottom: 0.35rem;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 12px;
  font-weight: 400;

  a {
    font-weight: 400;
  }
}
